{%set pageTitle="POC home"%}
{%set bodyClass="drone-zone-container"%}
{% extends "../templates/layout.njk" %} 
{% block content %}
<div id="app">
    <div class="container test">
        <h1>good night!!</h1>
    </div>
</div>
{% endblock %}